/* Fonts */

@font-face { /* Source uispace.net */
    font-family: Zefani;
    src: url(../fonts/ZefaniStencil.otf) format('opentype');
}

/* Universal Styles */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 2vmin;
}

body {
    display: flex;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

@media only screen and (max-width: 1215px) {

    body {
        flex-direction: column;
    }
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/*Bottom corner of the scrollbar */
::-webkit-scrollbar-corner {
    background-color: rgba(17, 17, 17, 1);
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(50, 50, 50, 0.4);
    background-color: rgba(17, 17, 17, 1);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.main {
    width: 75%;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(255, 0, 0, 0.3)), url(../images/modern-pool.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
}

.main__h1 {
    font-size: 4.25rem;
    font-family: Zefani, serif;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    margin: 1rem 0;
}

.main__h2 {
    font-size: 4rem;
    font-family: 'Allura', cursive;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    margin: 1rem 0;
}

@media only screen and (max-width: 1350px) {

    .main__h1 {
        font-size: 4rem;
    }

    .main__h2 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 1215px) {

    .main {
        width: 100%;
        height: 80vh;
    }
}

@media only screen and (max-width: 930px) {

    .main__h1 {
        font-size: 3.5rem;
        margin: 0.5rem 0;
    }

    .main__h2 {
        font-size: 3rem;
        margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 815px) {

    .main__h1 {
        font-size: 3rem;
    }

    .main__h2 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 600px) {

    .main__h1 {
        font-size: 4rem;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -15%);
    }

    .main__h2 {
        margin-top: 1rem;
        font-size: 3.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 500px) {

    .main__h1 {
        font-size: 4.5rem;
    }

    .main__h2 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 405px) {

    .main__h1 {
        font-size: 5.5rem;
    }

    .main__h2 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 360px) {

    .main {
        height: 70vh;
    }
}

@media only screen and (max-width: 300px) {

    .main {
        height: 60vh;
    }
}

@media only screen and (max-width: 265px) {

    .main__h1 {
        font-size: 6rem;
    }

    .main__h2 {
        font-size: 5.5rem;
    }
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.header__a {
    margin: 1rem 4rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: center;
}

.header__a:active {
    color: rgba(202, 149, 4, 0.9);
}

@media only screen and (max-width: 1250px) {

    .header__a {
        margin: 1rem 3rem;
    }
}

@media only screen and (max-width: 815px) {

    .header__a {
        margin: 1rem 2rem;
    }
}

@media only screen and (max-width: 600px) {

    .header__a {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 500px) {

    .header__a {
        font-size: 1.25rem;
        margin: 1rem 1.5rem;
    }
}

@media only screen and (max-width: 405px) {

    .header__a {
        font-size: 1.75rem;
        margin: 1rem;
    }
}

@media only screen and (max-width: 265px) {

    .header {
        display: none;
    }
}

/* Form */

.form {
    display: flex;
    width: 60%;
    background-color: rgba(17, 17, 17, 1);
    opacity: 0.7;
    padding: 1rem;
    margin: 1rem 0;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.form__div {
    margin: 0 0.1rem;
}

.form__label {
    color: rgba(255, 255, 255, 1);
}

.form__input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    width: 90%;
}

.form__submit {
    background-color: rgba(202, 149, 4, 0.9);
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.form__submit:hover {
    background-color:rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 930px) {

    .form {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {

    .form {
        width: 100%;
        font-size: 1.15rem;
        padding: 1rem 0;
        background-color: transparent;
        justify-content: center;
        width: 40%;
        opacity: 1;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    .form__label, .form__input {
        margin-left: 0.5rem;
        display: none;
    }

    .form__submit {
        margin: 0 0.5rem;
        padding: 2rem 4rem;
        border: 1px solid rgba(125, 125, 125, 1);
    }
}

@media only screen and (max-width: 405px) {

    .form {
        top: 75%;
        left: 50%;
        transform: translate(-50%, -75%);
    }
}

/* Offerings */

.offerings {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: rgba(255, 255, 255, 1);
    width: 60%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    border: 1px solid rgba(125, 125, 125, 1);
    font-size: 1.15rem;
    text-align: center;
}

.offerings__i {
    color: rgba(202, 149, 4, 0.9);
    margin-bottom: 0.5rem;
}

.offerings__span {
    color: rgba(202, 149, 4, 0.9);
    font-size: 2rem;
    font-weight: 700;
}

@media only screen and (max-width: 930px) {

    .offerings {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {

    .offerings {
        width: 100%;
        padding: 1rem 0;
        border-radius: 0;
        border: none;
    }

    .offerings__p {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 500px) {

    .offerings__p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 405px) {

    .offerings__div:not(#price) {
        display: none;
    }

    .offerings__p {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 300px) {

    .offerings__p, .offerings__span {
        font-size: 3rem;
    }
}

/* Sidebar */

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: rgba(17, 17, 17, 1);
    overflow: scroll;
}

.sidebar__h3.-sectionTitle {
    font-size: 2rem;
    color: rgba(44, 161, 192, 0.8);
    margin: 2rem 1rem 0.5rem 1rem;
    text-align: center;
}

.sidebar__section {
    background-color: rgba(50, 50, 50, .4);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

.sidebar__div {
    background-color: rgba(17, 17, 17, 1);
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

.sidebar__div:hover {
    color: rgba(44, 161, 192, 0.8);
}

.sidebar__div.color {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

#color {
    background-color: rgba(255, 255, 255, 1);
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 1215px) {

    .sidebar {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .sidebar__div.-flexContainer {
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: stretch;
    }

    .sidebar__h3 {
        font-size: 1rem;
    }

    .sidebar__section {
        min-width: 240px;
        max-width: 240px;
        text-align: center;
        margin: 0.5rem;
    }

    .sidebar__div.color {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {

    .sidebar__section {
        min-width: 75%;
        max-width: 75%;
    }

    .sidebar__h3, .sidebar__div {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 500px) {

    .sidebar__h3, .sidebar__div {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 405px) {

    .sidebar__h3.-sectionTitle {
        font-size: 3rem;
    }

    .sidebar__h3, .sidebar__div {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 300px) {

    .sidebar__h3.-sectionTitle {
        font-size: 3.5rem;
    }

    .sidebar__h3, .sidebar__div {
        font-size: 3rem;
    }
}